* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    transition: 0.2s;
    margin: 0;
    padding: 0;
    
    scroll-behavior: smooth;
}

html {
    min-height: 100vh;
    
}

.navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar ul {
    list-style: none; 
    padding: 0;
    margin-top: 1rem;
    
}

.navbar ul li {
    display: inline;
    margin-left: 0rem;
    margin-right: 1rem;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    
}

.head {
    padding-top: 4rem;
    padding-bottom: 4rem;
}



.box {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-top: 4rem;
}

.stories {
    margin-bottom: 8rem;
}

.box a {
    color: #151515;
}

.about-unit video {
    max-width:100%;
}

.story {
    width: 100%;
    min-height: 100%;
}
.story h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.story .cover {
    width: 100%;
    height: 100vh;
    background: #BBB;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.story .cover .head {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.story .cover h1 {
    color: #fff;
}
.story .cover h3 {
    color: #fff;
}

.story .container {
    max-width: 1024px;
}
.story .row {
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.story .navbar {
    
    margin: 0;
}
.story .par {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 28px;
}
.story .small {
    color: #888;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.story .bottom {
    margin-top: 0.5rem;
}