

@media only screen and (max-width: 48rem)
{
}

@media only screen and (min-width: 48rem)
{
    .story .left {
        padding-right: 2rem;
    }
    .story .right {
        padding-left: 2rem;
    }
}

@media only screen and (min-width: 62rem)
{


    .section {
        margin: 14rem auto;
        font-size: 1.25rem;
    }
    .section .block-desktop {
        margin-top: 20rem;
    }
    .section .block-mobile {
         margin-top: 28rem;
    } 
    
    .social
    {
        margin-top: 14rem;
        margin-bottom: 1rem;
    }
    .social .icon svg {
        width: 2rem!important;
        height: 2rem!important;
    }
    .social .icon svg:hover
    {
        opacity: 0.4;
    }
    .social .icon svg:focus
    {
        opacity: 0.4;
    }
}

@media only screen and (min-width: 75rem)
{
}

